# The following options will be passed to all MariaDB clients
[client]
password                        = supersecretpassword
port                            = 3306
host							= localhost
ssl-ca                          = /etc/ssl/CA/CasjaysDev/ssl/certs/ca.crt
ssl-cert                        = /etc/ssl/CA/CasjaysDev/ssl/certs/localhost.crt
ssl-key                         = /etc/ssl/CA/CasjaysDev/ssl/private/localhost.key

[mysqld]
ssl
port                            = 3306
socket                          = /var/lib/mysql/mysql.sock
general_log_file                = /var/log/mysql/mysql.log
slow_query_log_file             = /var/log/mysql/slow.log
log-error                       = /var/log/mysql/error.log
tmpdir                          = /tmp/
general_log                     = 2
slow_query_log                  = 1
long_query_time                 = 1
log-output                      = FILE
key_buffer_size                 = 256M
max_allowed_packet              = 512M
query_cache_type                = 1
query_cache_limit               = 256K
query_cache_min_res_unit        = 2k
query_cache_size                = 80M
tmp_table_size                  = 64M
max_heap_table_size             = 64M
table_open_cache                = 256
sort_buffer_size                = 1M
read_buffer_size                = 1M
read_rnd_buffer_size            = 4M
myisam_sort_buffer_size         = 64M
thread_cache_size               = 8
thread_concurrency              = 2
innodb_log_file_size            = 32M
innodb_buffer_pool_size         = 1024M
innodb_log_buffer_size          = 4M
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 64M
open-files-limit                = 10000
skip-external-locking
skip-name-resolve
ssl-ca                          = /etc/ssl/CA/CasjaysDev/ssl/certs/ca.crt
ssl-cert                        = /etc/ssl/CA/CasjaysDev/ssl/certs/localhost.crt
ssl-key                         = /etc/ssl/CA/CasjaysDev/ssl/private/localhost.key

[mysqldump]
quick
max_allowed_packet              = 512M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size                 = 128M
sort_buffer_size                = 128M
read_buffer                     = 2M
write_buffer                    = 2M

[mysqlhotcopy]
interactive-timeout

